@import "./reset.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 50px;
  line-height: 1.4;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: DM sans-serif;
}
.outer-box {
  width: 40%;
  height: 87vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19), 0px 2px 2px rgba(0, 0, 0, 0.23);
  border: 1px solid #bbbaba;
  padding-bottom: 1rem;
  position: relative;
  .heading-box {
    width: 100%;
    height: 34vh;
    background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #ffffff;
    padding: 1rem 5rem;
    font-weight: 700;
    position: absolute;
    h1 {
      font-size: 1.9rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  .question-box {
    position: relative;
    width: 90%;
    height: 57vh;
    left: 5%;
    top: 25vh;
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.05);

    .question-heading {
      display: flex;
      margin: 3rem 0 0 1.9rem;
      color: #2d2d2d;
      .question-icon {
        margin-left: 0.8rem;
        font-size: 0.7rem;
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    .question-icon {
      display: grid;
      place-items: center;
      border-radius: 2rem;
      background: #f5831f26;
      color: #ff5c00;
    }

    .single-question-box {
      display: flex;
      padding: 1rem;
      margin: 1rem 1.8rem;
      border: 1px solid #e1e1e1;
      box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.05);
      border-radius: 0.5rem;
      p {
        font-size: 0.9rem;
        color: #2d2d2d;
      }
      .question-icon {
        margin-right: 0.8rem;
        font-size: 0.55rem;
        width: 1rem;
        height: 1rem;
      }
    }
    .single-question-box:hover {
      border: 1px solid #36a0f7;
    }
    .question-btn {
      text-align: center;
      padding: 1rem 0;
      button {
        padding: 1rem 2.5rem;
        background: #fff;
        border: 1px solid #d1d1d1;
        box-shadow: 0px 4px 5px rgba($color: #000000, $alpha: 0.1);
        border-radius: 6rem;
        font-size: 1rem;
        font-weight: 500;
        .fas {
          padding-right: 0.5rem;
          color: #555555;
        }
      }

      button:hover {
        border: 1px solid #36a0f7;
      }
    }
  }
  .bot-icon {
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 2rem;
    top: 10.7rem;
    left: 4rem;
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
    border-radius: 5rem;
  }
}
