@media screen and (max-width: 760px) {
  body {
    padding: 0;
  }
  .outer-box {
    width: 100%;
    height: 100vh;
    .question-heading {
      p {
        font-size: 14px;
      }
    }
    .question-bg {
      width: 95%;
      left: 2.5%;
      .single-question-box {
        width: 95%;
        p {
          font-size: 12px;
        }
      }
      .question1 {
        left: 2.5%;
        top: 5.5rem;
      }
      .question2 {
        left: 2.5%;
        top: 9.5rem;
      }
      .question3 {
        left: 2.5%;
        top: 13.5rem;
      }
      .question4 {
        left: 2.5%;
        top: 17.5rem;
      }
      .question-btn {
        width: 90%;
        left: 10%;
        top: 22rem;
        button {
          font-size: 14px;
        }
      }
    }
  }

  .refresh-btn {
    margin-top: 0.8rem;
    margin-left: 1rem;
  }
}
